.order-type-box, .print-format-box {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
}
.print-format-box {
    border-radius: 3px;
    margin-top: 10px;
    background-color: #fff;
    cursor: pointer;
}
.order-type-box .description {
    margin: 10px 0;
}
.img-width-auto {
    width: auto;
    max-width: 100%;
    height: auto;
}
